<%= simple_form_for(User.new, url: add_delivery_boy_users_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add delivery boy" %>
  </div>
<% end %>

<% @users.each do |user| %>
  <%= user.email %>
  <%= link_to 'Delete', user_path(user), method: :delete %>
<% end %>