<div class='separator'>
  <div class='order-tuple'><%= order.number %></div>
  <div class='order-tuple'><%= order.total %></div>
  <div class='order-tuple'><%= LIST_OF_SLOTS_ADMIN.to_h.key(order.delivery_slot) %></div>
  <div class='order-tuple'><%= order.shipment_address %></div>
  <div class='order-tuple'><%= order.state %></div>
  <div class='order-tuple'><%= order.user_email %></div>
</div>
