<div class='all-orders'>
  <div class='orders-headers'>
    <div class='order-header'>Number</div>
    <div class='order-header'>Total</div>
    <div class='order-header'>Delivery Slot</div>
    <div class='order-header'>Shipment Address</div>
    <div class='order-header'>State</div>
    <div class='order-header'>User Email</div>
  </div>
  <div class='orders-tuples'>
    <% if @orders.empty? %>
      <div class='empty-state'>
        You have orders left!
      </div>
    <% else %>
      <% @orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
