<section class="wrapper">
  <div class='logo'>
    <%= image_tag 'grabmuch_logo.png' %>
  </div>
  <div class="modal">
    <div class="modal-window">
      <%= simple_form_for User.new, url: users_sign_in_path do |f| %>
        <div class="modal-inner">
          <label class='authenticated-field'>
            <%= image_tag 'email.png' %>
            <%= f.email_field :email, placeholder: ' john.doe@example.com' %>
          </label>
          <label class='authenticated-field'>
            <%= image_tag 'password.png' %>
            <%= f.password_field :password, placeholder: '********' %>
          </label>
          <%= f.button :submit, 'Log in', class: 'sign-in' %>
        </div>
      <% end %>
    </div>
  </div>
</section>
