<div class='separator'>
  <div class='order-tuple'><%= order.number %></div>
  <div class='order-tuple'><%= order.item_total %></div>
  <div class='order-tuple'><%= order.state %></div>
  <div class='order-tuple'><%= order.email %></div>
  <div class='order-tuple'><%= order.delivery_date %></div>
  <div class='order-tuple'><%= LIST_OF_SLOTS_ADMIN.to_h.key(order.delivery_slot) %></div>
</div>
