<div class='all-orders'>
  <div class='orders-headers'>
    <div class='order-header'>Number</div>
    <div class='order-header'>Item Total</div>
    <div class='order-header'>State</div>
    <div class='order-header'>Email</div>
    <div class='order-header'>Delivery Date</div>
    <div class='order-header'>Delivery Slot</div>
  </div>
  <div class='orders-tuples'>
    <% @orders.each do |order| %>
      <%= render 'orders/order', order: order %>
    <% end %>
  </div>
  </div>
</div>