@import '../neat/neat-helpers';

$visual-grid : false;
$landscape: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(max-width 760px);
$medium: new-breakpoint(min-width 760px max-width 1000px);
$desktop: new-breakpoint(min-width 1000px);
$action-color: #555555;

body {
  background-color: #EFF0F1;
  margin: 0;
  color: #555555;
}