// Bourbon files declaration: Starts here //
@import '../bourbon/bourbon';
@import 'grid-settings';
@import '../neat/neat';
@import '../base/base';
// Bourbon files declaration: Ends here //

// Bourbon variables declaration: Ends here //
// Bourbon variables declaration: Ends here //

// Custom SCSS files declaration: Starts here //
// Custom SCSS files declaration: Ends here //

.wrapper {
  background: url('../assets/grains.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  :before {
    background-color: rgba(248, 248, 248, 0.2);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
.logo {
  @include media($desktop) {
    @include span-columns(6);
    @include shift(5);
  }

  @include media($medium) {
    @include span-columns(6);
    @include shift(4.5);
  }

  @include media($tablet) {
    @include span-columns(6);
    @include shift(3.3);
  }

  margin-top: 100px;
  img {
    width: 220px;
  }
}
.modal {
  @include outer-container;
  $modal-padding: 3em;
  $modal-background: $base-background-color;

  .modal-inner {
    @include media($desktop) {
      @include span-columns(4);
      @include shift(4);
    }

    @include media($tablet) {
      @include span-columns(10);
      @include shift(1);
    }

    @include media($medium) {
      @include span-columns(6);
      @include shift(3);
    }

    box-shadow: 0 0 24px 0px #000;
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    position: relative;
    overflow: auto;
    padding: 40px;
  }

  form.new_user {
    label.authenticated-field {
      width: 100%;
      background: none repeat scroll 0 0 rgba(255,255,255,0.5);
      border: 1px solid #cdcdcd;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      display: inline-block;
      padding: 6px 8px;
      margin: 5px 0 30px 0;
    }
    input[type='email'], input[type='password'] {
      border-radius: 6px;
      box-shadow: none;
      border: 0;
      padding: 0;
      margin: 0;
      width: 90%;
      float: right;
      height: 22px;
    }
    input[type='submit'].sign-in {
      background-color: $default_pink;
      background-image: none;
      border: 1px solid #cdcdcd;
      color: white;
      border-radius: 2px;
      width: 100%;
      padding: 12px;
    }
    input[class*=rounded-button] {
      @include media($desktop) {
        @include span-columns(6);
        @include shift(6.8);
        width: 55px;
      }

      @include media($tablet) {
        @include span-columns(8);
        @include shift(7.7);
        width: 55px;
      }

      @include media($medium) {
        @include span-columns(8);
        @include shift(7.2);
        width: 55px;
      }

      border-radius: 100px;
      background-color: rgb(209, 212, 79);
      background-image: url('arrow_right_grey.png');
      background-repeat: no-repeat;
      background-position: 18px;
      background-size: 24px;
      box-shadow: 0 4px 7px rgba(0,0,0,.4);
      display: inline-block;
      height: 55px;
      margin-top: -31px;
      position: relative;

      img {
        margin: 13px 17px;
      }
      &:hover {
        background-color: rgb(209, 212, 79);
      }
    }
  }
}
