// Bourbon files declaration: Starts here //

@import '../bourbon/bourbon';
@import 'grid-settings';
@import '../neat/neat';
@import '../base/base';

// Define all new required color code //
$aluminium: #d9d9d9;
$font-stack-system: 'Lato', sans-serif;
$action-color: #555555;

// Bourbon files declaration: Ends here //

// Custom SCSS files declaration: Starts here //
.top-header {
  background-color: $base-background-color;
  border: 1px solid $aluminium;
  box-shadow: rgba(0,0,0,0.1) 0px 3px 10px 0px;
  padding: 2px 10px;
  z-index: 999999;
  display: inline-block;
  width: 100%;

  .header-left {
    @include span-columns(6);
  }

  .header-right {
    @include span-columns(6);
    text-align: right;
  }
}

.app-logo {
  display: inline-block;
  vertical-align: middle;

  img {
    width: 150px;
  }
}

.navigation {
  display: inline-block;
  height: 23px;
  margin: 13px 15px;
  vertical-align: middle;
}

a {
  &.active {
    color: $default_green;
  }
  &:hover {
    color: $default_green;
  }
}

.fade {
  color: $medium-gray;
}

.all-orders {
  margin: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 1px -1px 5px 5px;
  padding: 10px;

  .orders-headers {
    border-bottom: 1px solid $light-gray;
  }

  .order-header {
    font-weight: bold;
    padding: 12px 0;
  }

  .order-header, .order-tuple {
    display: inline-block;
    width: 16%;
    text-align: center;
    vertical-align: top;
  }

  .separator {
    padding: 12px 0;
    font-size: 14px;
    transition: color $base-duration $base-timing;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }

    &:hover {
      border-bottom-width: 2px;
      border-bottom-color: $default-green;
    }
  }
}

.empty-state {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 10px;
  color: $medium-gray;
  font-style: italic;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}
// Custom SCSS files declaration: Ends here //
