<% current_page = "#{params[:controller]}-#{params[:action]}" %>

<div class='top-header'>
  <div class='header-left'>
    <%= link_to image_tag('grabmuch_logo.png'), '//www.grabmuch.com', class: 'app-logo', target: '_blank' %>
    <%= link_to 'Today\'s Orders', todays_order_references_path, class: "navigation #{current_navigation(current_page, 'order_references-todays')}" %>
    <% if current_user.admin? || current_user.shopper? %>
      <%= link_to 'All Orders', orders_path, class: "navigation #{current_navigation(current_page, 'orders-index')}" %>
    <% end %>
    <%= link_to 'Order References', order_references_path, class: "navigation #{current_navigation(current_page, 'order_references-index')}" %>
  </div>
  <div class='header-right'>
    <div class='user-details navigation'>
      <span ><%= current_user.name %></span>
      <span class='fade'><%= '(' + current_user.email + ')' %></span>
    </div>
    <%= link_to 'Logout', users_sign_out_path, class: 'navigation', method: :delete %>
  </div>
</div>