<!DOCTYPE html>
<html>
  <head>
    <title>Deliverables</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'deliverables', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'deliverables', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'common/header' %>
    <%= yield %>
  </body>
</html>
